.card {
    border:black solid;
    display: flex;
    justify-content: center;
    color:navy;
    align-items: center;
    margin:1%;
    padding:2% 5%;
    border-radius: 5%;
    width:100%;
    background-color: rgb(146, 167, 100);
  }
  
  .profile-photo {
    border: solid;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    padding:2%;
    margin-left: 1%;
  }

  .name-container, .email-container, .phone-container, .age-container {
    display: flex;
  }

  .name, .email, .phone, .age{
    overflow-wrap: break-word;
    width:25vw;
  }

  .age-button{
    background-color:rgb(165, 101, 151);
    border-radius: 10%;
    margin-top: 5%;
    width:20vw;
    max-width: 150px;
  }
  
  .hideAge {
    display:none;
  }

  
  @media only screen and (max-width:400px) {
    .card {
        flex-direction: column;
    }
    .profile-photo {
        width:5rem;
    }
    .name, .email, .phone{
        width:50vw;
      }
    .age-button{
      width:50vw;
    }
  }
