.next {
    background-color: brown;
    color:white;
    padding:1%;
    margin:1%;
    border-radius: 10%;
  }

  .next:active {
    background-color: rgb(99, 10, 10);
    box-shadow: inset;
  }
  