* {
  margin:0px;
  padding:0px;
}
.app-container {
  width:60vw;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  margin:2% auto;
}

@media only screen and (max-width: 800px){
  .app-container {
    width:95%;
  }
}